.siteMapWrapper {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bulldozerStartingPosition {
  align-self: flex-start;
  width: 40px;
  height: 40px;
  padding: 8px;
  margin: 2px;
}

.siteMapMainGrid {
  padding: 2px;

  background-color: #000000;
}

.siteRow {
  display: flex;
}

.siteMapOuter {
  display: flex;
  flex-direction: column;
}

.siteMapInner {
  display: flex;
}

.siteMapYGuide {
  display: flex;
  padding: 2px;
}

.siteMapYGuideCell {
  width: 44px;

  font-size: 24px;
  text-align: center;
}

.siteMapXGuideCell {
  display: flex;
  align-items: center;
  width: 24px;
  height: 44px;

  font-size: 24px;
  text-align: center;
}

.siteMapXGuide {
  padding: 2px;
  display: flex;
  flex-direction: column;
}

.siteMapDummyGuideCell {
  width: 26px;
}