.simulatorWindowGrid {
  display: grid;
  grid-template-areas: 
    'map map report'
    'map map log'
    'controlPanel controlPanel log';
  grid-template-columns: 1fr 1fr 320px;
  grid-gap: 16px;
}

.siteMap {
  grid-area: map;
}

.expensesReport {
  grid-area: report;
}

.eventsLog {
  grid-area: log;
}

.controlPanel {
  grid-area: controlPanel;
}

@media (max-width: 768px) {
  .simulatorWindowGrid {
    grid-template-areas: 
      'map'
      'controlPanel'
      'report'
      'log';
    grid-template-columns: 1fr;
  }
}